<div class="wrap">
  <div class="logo"><h1>BLOG</h1></div>
  <nav>
    <div class="skew"><button (click)="nav('')">Home</button></div>
    <div class="skew"><button (click)="nav('/all-posts')">Posts</button></div>
    <div class="skew"><button (click)="nav('/about-view')">About</button></div>
    <div id="mobilemenu" class="skew"><button (click)="openMenu()">≡</button></div>
  </nav>
</div>
    <div class="menu">
      <div class="skew"><button (click)="nav('')">Home</button></div>
      <div class="skew"><button (click)="nav('/all-posts')">Posts</button></div>
      <div class="skew"><button (click)="nav('/about-view')">About</button></div>
    </div>
<router-outlet></router-outlet>
