* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-image: url("pattern-tile.png");
    background-attachment: fixed;
}

main {
    background-color: white;
    width: 50vw;
    display: block;
    margin: 8vh auto;
    border-radius: 10px/10px;
    box-shadow: 0 0 90px rgb(0 0 0 / 20%);
    padding: 20px;
    padding-top: 0;
}

@media only screen and (max-width:1145px) {
    main {
        width: 80vw;
    }
}

@media only screen and (max-width:540px) {
    .popup {
        margin: 10vh auto !important;
        width: -webkit-fill-available !important;
    }
}

@media only screen and (max-width:740px) {
    main {
        width: 90%;
    }
    nav {
        display: none;
    }
    header {
        flex-direction: column;
        align-items: center !important;
    }
    #menubut {
        display: block !important;
        width: -webkit-fill-available;
        padding: 10px;
    }
    nav {
        flex-direction: column;
        width: 95%;
        background-image: linear-gradient(to bottom left, purple, lightyellow);
        border-radius: 20px/20px;
        align-items: center;
        margin-top: 10px;
    }
    nav button {
        padding: 10px !important;
        margin: 5px !important;
        width: 90%;
    }
    li {
        width: 90%;
        padding: 0 !important;
        margin: 0 !important;
    }
    #locale {
        width: 100%;
    }
}

#menubut {
    display: none;
    margin: 0;
}

#season {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: large;
}

header {
    box-shadow: 0 0 50px rgb(0 0 0 / 20%);
    padding: 25px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-image: linear-gradient(to top right, lightblue, wheat);
}

header button {
    border: none;
    padding: 20px;
    font-size: small;
    margin-right: 20px;
    border-radius: 100px/100px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    cursor: pointer;
    transition: 0.30s;
}

header button:hover {
    background-color: black;
    color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    transition: 0.30s;
    /*transform: translateY(-2px);*/
    transform: scale(1.05);
}

article {
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px/10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

#week article {
    font-size: smaller;
    margin: 1em;
}

#weekday {
    font-size: small;
}

.button button {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: transparent;
    align-items: center;
    font-size: large;
    margin-left: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    height: 90%;
}

.button button:hover {
    /*transform: scale(1.05);
    box-shadow: 0 0 10px 0px white;*/
    background-color: black;
    color: white;
    transition: background-color 0.5s;
}

.button {
    display: flex;
}


/*Popup settings*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.popup {
    margin: 20vh auto;
    padding: 20px;
    /*background: #fff;*/
    background-image: linear-gradient(to bottom left, wheat, 10%, white);
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.popup .close:hover {
    color: #59e6ff;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}


/*End*/


/*Dropdown menu*/

li.dropdown {
    display: inline-block;
    transition: 0.2s;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-image: linear-gradient(to bottom right, wheat, hotpink);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 950;
    border-radius: 20px/20px;
    transition: 0.2s;
}

.dropdown-content a {
    color: black;
    border-radius: 20px/20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #5C159D;
    transform: scale(1.05);
    color: white;
    transition: 0.2s;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.2s;
}


/*End*/

footer {
    padding: 0.5em;
    bottom: 0;
    text-align: center;
    background-image: linear-gradient(to top right, lightblue, wheat);
    border-radius: 0px 50px 0px 0px;
    color: black;
    position: fixed;
    max-width: 65px;
}

footer p {
    font-size: xx-small;
    margin: 0;
}

footer p a {
    text-decoration: none;
    color: inherit;
}

.qa {
    border-style: dotted none none;
    border-width: 2px;
    border-color: lightgrey;
}

img {
    opacity: 0.4;
}

.button {
    display: flex;
    align-items: center;
}

.button img {
    width: 20px;
    height: -webkit-fill-available;
    margin-left: 5px;
    opacity: 1;
    transition: 0.4s;
    cursor: pointer;
}

.button img:hover {
    /*background-color: black;*/
    /*filter: invert(93%) sepia(93%) saturate(0%) hue-rotate(250deg) brightness(107%) contrast(109%);*/
    filter: invert(74%) sepia(95%) saturate(3211%) hue-rotate(1deg) brightness(102%) contrast(107%);
    transition: 0.4s;
}

@media only screen and (max-width:375px) {
    .button img {
        display: none;
    }
}
