main {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: auto;
}

#latest-tag{
  transform: skewY(5deg);
  padding: 5px;
  box-shadow: 6px 4px 0 0 white;
  background-color: var(--keyColor);
  display: inline-block;
}

#latest{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin-top: 0.5%;
  margin-bottom: -7%;
}

.landing-overlay {
  max-width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  align-items: center;
}

.landing-overlay hr {
  width: 75%;
  margin: 0;
  border: 1px solid white;
}

.landing img {
  width: -webkit-fill-available;
}

.landing {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin: auto;
  max-width: 80%;
  position: relative;
}

@media screen and (max-width: 500px) {
  #latest-tag {
    font-size:0.8em;
  }
}

@media screen and (max-width: 355px) {
  .landing {
    font-size: 0.60em;
  }
}

@media screen and (max-width: 600px) {
  .landing {
    font-size: 0.75em;
  }

}

@media screen and (max-width: 640px) {
  main {
    max-width: 100%;
  }
  .landing{
    max-width: 100%;
  }
  .landing-overlay{
    max-width: 80%;
  }
}

