article {
  position: relative;
  background: var(--keyColor);
  transform-origin: bottom right;
  transform: skew(0deg, 5deg);
}

img{
  display: none;
}

article h1:first-child {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  margin-top: 0;
}



.overlay {
  transition: opacity 0.25s;
  opacity: 0.5;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(transparent, #000000);
  z-index: 2;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
}

.overlay h1 {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  color: var(--keyColor);
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.content-wrapper:hover .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.25s;
  opacity: 1;
}

.content-wrapper:hover .overlay h1 {
  opacity: 1;
  transition: opacity 0.25s;
}

article {
  position: relative;
  margin-top: 15%;
  padding: 45px 20px 10px 10px;
  font-size: 20px;
  color: #FFF;
  background: var(--keyColor);
}

article::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  top: 1.5em;
  left: 0;
  bottom: -0.5em;
  z-index: -1;
  background: var(--keyColor);
  transform: skewY(-5deg);

}

.content-wrapper {
  transform: skewY(-10deg);
  background-color: black;
  padding: 2%;
}

.content {
  transform: skewY(5deg);
}

.timestamp {
  transform: skewY(-5deg);
  text-align: right;
  margin: 0;
  color: black
}

@media screen and (min-width: 1040px) {
  .content-wrapper {
    padding: 3%;
  }

  article::after {
    bottom: -1.25em;
  }

}

@media screen and (min-width: 1700px) {
  .content-wrapper {
    padding: 3%;
  }

  article::after {
    bottom: -2.15em;
  }

}

@media screen and (min-width: 2180px) {
  article::after {
    bottom: -3em;
    top: 0.5em;
  }
}
