@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

:root {
  --keyColor: #ED213A;
}

* {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  scroll-behavior:smooth;

}

article img{
  max-width: 90%;
  display: block;
  margin: auto;
}

app-root{
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  min-height: 100svh;
  /* margin-top: auto; */
  /* flex-wrap: nowrap; */
  justify-content: space-between;
}

body {
  background-color: black;
  /*max-width: 70%;*/
  margin: auto;
}
